---
layout: default
title: Ruben Gutierrez | Website Desing & Development
---

<div class="home-page">

    <!-- Hero -->
    <div class="home-hero">
        <div class="hero-information">
            <div class="hero-left">
                <h1 class="">Website <br><strong>Designer</strong></h1>
                <a href="/contact/">
                    <button role="link">
                        <span>Let's Talk!</span>
                        <span><img src="assets/img/arrow.png" alt=""></span>
                    </button>
                </a>
            </div>
        

            <div class="hero-description">
                <p>Hello, my name is <strong>Ruben Gutierrez</strong> & I am a website designer in La Habra, California. My interest in technology began when I received my first computer at 8 years old and has steadily progressed to where I'm at today, building and designing websites. One of the things I enjoy most about working with these tools is helping others progress and solve problems.
                <br>
                <br>
                When I’m not in front of the computer making websites I enjoy hanging out with my friends and taking hikes in the beautiful hills of Southern California.
                </p>
            </div>
        </div>
    
    </div>
    
    <!-- Blog Area -->
    <div class="blog-area fixed-width mb-40 ">
        <div class="blog">
            <div class="blog-title padding">
                <h2>Blog Posts</h2>
                <p>Blog post include general thoughts and current projects I'm working on.</p>
            </div>
            <div class="blog-section">
                {% for post in site.posts %} 
                    {% if post.categories contains "blog"%}
                       <div class="blog-post-container padding">
                            <div class="blog-post ">
                                <img src="{{post.image}}" alt="">
                                <a href="{{post.url}}"><h3>{{ post.title }} </h3></a>
                                <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
                            </div>
                       </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

</div>