---
layout: default
title: Web Design Tutorials
permalink: /websites/
date: 2024-02-15
--- 
<div class="top-container websites">

    <h1>Web Design</h1>
    {% for post in site.posts %} 
        {% if post.categories contains "tutorial" %}
            <div class="websites-post">
                <div class="post-title-date">
                    <a href="{{post.url}}"><h2>{{ post.title }} &#8594;</h2></a>
                </div>
                <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
            </div>
        {% endif %} 
    {% endfor %}
</div>