<div class="figma-footer">
    <img src="/assets/img/homepage/geometry.png" alt="">
    <h4>Author: Ruben Gutierrez</h4>

    <p>Hello, my name is Ruben Gutierrez and I am a website designer living in Southern California.</p>

    <div class="figma-menu">
        <h4>Follow Me</h4>
        <a href="https://twitter.com/roobenweb" target="_blank" >
            <img src="/assets/img/homepage/behance-icon.png" alt="">
        </a>
        <a href="https://behance.net/roobenweb" target="_blank">
            <img src="/assets/img/homepage/dribbble-icon.png" alt="">
        </a>
        <a href="https://dribbble.com/roobenweb" target="_blank">
            <img src="/assets/img/homepage/twitter-icon.png" alt="">
        </a>
    </div>
</div>