<div class="home-footer">
    <div class="footer">

        <div class="footer-about">
            <img src="\assets\img\homepage\geometry-inverse.png" alt="">
            <h3>Ruben Gutierrez</h3>
            <p>Hello, my name is Ruben Gutierrez & I Am A Website Designer from La Habra, California, United States</p>
            <a href="/contact">Let's Talk!</a>
            <div class="footer-links">
                <a href=""><img src="/assets/img/homepage/" alt=""></a>
            </div>
        </div>

        <div class="footer-menu">
            <h4>Menu</h4>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/contact/">Local SEO</a>
            <a href="/figma-templates/">Figma Templates</a>
        </div>

    </div>
</div>
