<div class="home-footer container">
    <div class="container footer">

        <div class="footer-about">
            <h3>ROOBENWEB</h3>
            <p>Ruben Gutierrez - Website Design/Deverloper</p>           
        </div>

        <div class="footer-menu">
            <h4>Menu</h4>
            <a href="/">Home</a>
            <a href="/About/">About</a>
            <a href="/local/">Local</a>
            <a href="/figma-templates/">Figma</a>
            <a href="/websites/">Websites</a>
        </div>

    </div>
</div>
