.blog-page {
    padding: 0 40px;

    h1 {
        font-size: 3em;
    }

    p {font-size: 20px;}

    .blog-page-posts {
        a {
            display: block;
            color: #000;
            font-size: 20px;
        }
    }
}