.local {

    .second {

        @media (min-width: 768px) {
            margin-top: 100px;
            width: 30%;
        }

        a {
            font-size: 1em;
            text-decoration: none;
            margin: 10px 0;
            display: inline-block;
            
        }
    }
}