.about-title {
    font-size: 3em;
}

.about-page {
    margin: 50px auto 150px;
    padding: 40px;

    p {
        line-height: 150%;
        font-size: 18px;
    }

    li {
        list-style: none;
    }
}