.figma-template-title {
    font-size: 64px;
}

.figma-templates {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #000;
    margin-top: 100px;

    ul {
        list-style-type: none;
        display: flex;
        
        img {
            max-width: 390px;
            height: auto;;
        }
        a {
            display: inline-block;
            text-decoration: none;
            font-size: 1.25em;
            max-width: 390px;
            font-weight: 500;
            height: 100px;
            color: #000;

            &:active {
                color: #000;

            }

            &:hover {
                color: #252525;
            }
        }
    }
}