.figma-template-title {
    font-size: 64px;
}

.figma-templates {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #000;
    margin-top: 100px;
    padding: 5px;
    

    ul {
        list-style-type: none;
        margin: 5px;
        border: 1px solid black;
      
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        
        .block {
            margin: 0 20px;
            max-width: 300px;

            @media (min-width: 768px) {
                max-width: 300px;
            }
            .figma-image {
                height: 200px;
                width: 300px;
                img {
                    max-width: 300px;
                    object-fit:cover;

                    @media (min-width: 768px) {
                        width: 300px;
                    }
                }
            }
    
            a {
                display: inline-block;
                text-decoration: none;
                font-size: 1.25em;
                max-width: 300px;
                font-weight: 500;
                height: auto;
                color: #000;
    
                &:active {
                    color: #000;
    
                }
    
                &:hover {
                    color: #252525;
                }
            }
        }
    }
}