.home-footer {
    background: #000;
    color: #fff;
    margin-top: 100px;

    @media (min-width: 768px) {
        padding: 80px 0 80px;
    }

    h3,h4 {
        margin-bottom: 30px;
    }

    h3 {
        font-size: 1.25em;
        font-weight: 700;
    }

    .footer {

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }

        p {
            max-width: 338px;
            margin: 0 auto;
        }

        a {
            color: #fff;  
            text-decoration: none;  
        }

        .footer-about {
            text-align: center;
            padding: 50px 0;

            @media (min-width: 768px) {
                text-align: left;
            }
        }

        .footer-menu {
            text-align: center;
            padding: 50px 0;

            a {
                margin: 0 10px;
                font-size: 14px;

            }

            @media (min-width: 768px) {
                text-align: left;
            }
        }

        
    }
}