.intro__home {
    max-width: 1080px;
    margin: 150px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    height: 81px;
    width: 186px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.line {
    height: 2px;
    width: 136px;
    background-color: #000;
    margin-right: 50px;
}