.home-page {
    padding: 0 40px;

    h1 {
        font-size: 1.75em;
        text-transform: uppercase;

        @media (min-width: 768px) {
            font-size: 2.25em !important;
        }

        @media (min-width: 1100px) {
            font-size: 2.75em !important;
        }
    }

    h3 {
        font-size: 1.25em !important;
    }
}

.home-hero {
    margin: 0 auto;
    background: #F9F9F9;
    

    .hero-information {
        padding: 150px 0;

        @media (min-width: 768px) {
            display: flex;
            justify-content: center;
        }

        h1 {
            font-size: 2.5em !important;
            line-height: 150%;
            @media (min-width: 768px) {
                width: 50%;
                font-size: 4em !important;
            }
        }

        .hero-description {
            max-width: 512px;
            @media (min-width: 768px) {
                width: 50%;
            }
        }
    }
}


.blog {
 
    .blog-section {

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
        
        .blog-post {
            max-width: 450px;
            margin-bottom: 40px;
            @media (min-width: 768px) {
                width: 50%;
                margin-right: 10px;
            }

            a {
                height: 50px;
           }
        }
    }
}

.home-about {
    margin: 50px auto;


    .about-description {

        @media (min-width: 768px) {
            display: flex;
        }

        p {
            max-width: 550px;
            padding-right: 20px;
        }

    }
}

.mb-40 {
    margin-bottom: 100px;
}