.home-hero {
    max-width: 1200px;
    margin: 20px 0 40px;
    text-align: center;
    @media (min-width: 768px) {
        display: flex;
        margin: 120px auto;
        text-align: left;
    }
    

    .about {
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;

        button {
            width: 190px;
            height: 70px;
            background: #fff;
            border: 3px solid black;
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.home-title {
    max-width: 700px;

    @media (min-width: 768px) {
        display: flex;
    }
    

    img {
        height: 200px;
        width: 200px;
        text-align: center;
    }

    .title-info {
        h1 {
            font-size: 3em;
            .top {
                font-size: 16px;
            }
    
            .mid {
                font-size: 24px;
            }
        }
    }
}

.about {
    margin: 0 auto;

    @media (min-width: 768px) {
        display: flex;
        max-width: 1000px;

    }
    

    a {
        text-decoration: none;
        display: inline-block;
        color: #000;
        margin-bottom: 5px;

        &:active {
            color: #000;
        }
    }

    ul {
        list-style-type: none;
    }

    .figma, .blog {
        width: 90%;
        padding-right: 30px;

        @media (min-width: 768px) {
            width: 50%;
        }
    }
}