.local {
    max-width: 1000px;
    margin: 0 auto;
    .local-title {
        font-size: 3em;

    
    }

    a {
        text-decoration: none;
        color: #000;
        font-size: 2em;;

        li {
            list-style: none;
        }
    }
}