.local {
    @media (min-width: 768px) {
        display: flex;
    }  

    h1 {font-size: 2.25em;}
    h2 {font-size: 1.75em;}
    h3 {font-size: 1.5em;}

    .first {
        @media (min-width: 768px) {
            padding-right: 7.5%;
            width: 70%;
        }    
    }

    .second {
        @media (min-width: 768px) {
            margin-top: 100px;
            width: 30%;
        }
    }
}

.local-page {
    .local-header {
        padding: 100px 0;
        background: #F9F9F9;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            display: flex;
        }

        h1 {
            @media (min-width: 768px) {
                width: 40%;
            }
        }

    }

    .local-links {
        

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        a {
            height: 175px;
            font-size: 1.5em;
            display: block;
            background: #F9F9F9;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 20px;

            @media (min-width: 768px) {
                
                width: 32%;

            }   

            &:hover {
                background: #000;
                color: #fff;
            }
        }
    }
}