.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    padding: 0 40px;

    ul {
        a {
            text-decoration: none;
            margin-left: 2.5em;
        }
    }
}