.nav {
    height: 80px;
    display: flex;
    justify-content: flex-end;

    ul {
        display: flex;
        align-items: center;
        a {
            margin-left: 2.5em;
            display: flex;
            text-decoration: none;
        }
    }
}