h1, h2, h3, h4, h5 P {
    margin-bottom: 16px;
    font-weight: 500;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
    @media (min-width: 768px) {
        font-size: 2.25em;
    }

}

h3 {
    font-size: 1.75em;
    font-weight: 500;
}

article {
    padding: 0 40px;
}



.post-header {
    max-width: 650px;
    margin: 40px 0 40px 0;
}

.post-header {
    max-width: 800px;
}

.post {
    max-width: 800px;
    padding-bottom: 2em;

    h1 {
        font-size: 2.75em;
    }

    h2 {
        font-size: 2em; 
        margin-top: 1em;
    }

    p {
        font-size: 1.15em;
        font-weight: 500;
    }
    img {
        max-width: 100%;
    }
}

