.post-header {
    margin-top: 100px;
    max-width: 700px;
    margin-bottom: 50px;

    @media (min-width: 768px) {
        margin-top: 100px;
    }
}

.post-container {

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
    .post-content {
        max-width: 760px;
    }

    .related-post {
        margin-top: 80px;
        max-width: 350px;

        @media (min-width: 768px) {
            padding-left: 60px;
        }

        a {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 2.5px;
            display: block;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}


.post {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10%;

    @media (min-width: 1208px) {
        padding: 0 20%;
    }

    h2,h3,h4 {
        margin-top: 30px;
    }

    h1 {
        font-size: 1.75em;
        font-weight: 400;

        @media (min-width: 768px) {
            font-size: 2em;
        }
    }

    h2 {
        font-size: 1em; 
        margin-top: 1em;

        @media (min-width: 768px) {
            font-size: 1.25em;
        }
    }

    img {
        width: 100%;
    }
}

