@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import 'posts';
@import 'figma';
@import 'local';
@import 'home';
@import 'animation';
@import 'footer';
@import 'city';
@import 'contact';
@import 'nav';
@import 'blog';


body {
    font-family: 'Kumbh Sans', sans-serif;
}

ul {
    list-style-type: none !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 18px;
    font-weight: 500;
}

a {
    font-weight: 500;
    color: #000;
}

.home-button {
    position: absolute;
}

.img-responsive {
    max-width: 700px;
}

.button {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
    padding: 15px 30px;
}

.post-meta {
    font-size: 16px;
}

.border {
    border: 1px solid black;
}

.border-white {
    border: 1px solid #fff;
}


.mb-40 {
    margin-bottom: 100px;
}


.container {
    max-width: 75em;
    margin: 0 auto;
    padding: 0 40px;
}