@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
body {
  font-family: "Kumbh Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 16px;
  font-weight: 700;
}

h1 {
  font-size: 2em;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-size: 1.5em;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.25em;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.75em;
  }
}

ul {
  list-style-type: none !important;
}

p {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 1em;
}

a {
  font-weight: 500;
  color: #000;
}

.container {
  max-width: 75em;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 1400px) {
  .container {
    padding: 0;
  }
}

.fixed-width {
  max-width: 1300px;
  margin: 0 auto;
}

.post-header {
  margin-top: 50px;
  max-width: 700px;
}
@media (min-width: 768px) {
  .post-header {
    margin-top: 100px;
  }
}

@media (min-width: 768px) {
  .post-container {
    display: flex;
  }
}
.post-container .post-content {
  max-width: 700px;
}
.post-container .related-post {
  margin-top: 100px;
}
@media (min-width: 768px) {
  .post-container .related-post {
    padding-left: 100px;
  }
}
.post-container .related-post a {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 2.5px;
  display: block;
  text-decoration: none;
}
.post-container .related-post a:hover {
  text-decoration: underline;
}

.post {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 25px;
}
.post h1 {
  font-size: 2.25em;
}
@media (min-width: 768px) {
  .post h1 {
    font-size: 2.75em;
  }
}
.post h2 {
  font-size: 1.75em;
  margin-top: 1em;
}
@media (min-width: 768px) {
  .post h2 {
    font-size: 2em;
  }
}
.post img {
  width: 100%;
}

@media (min-width: 768px) {
  .figma-templates ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .figma-templates ul .block {
    width: 50%;
    margin: 10px 0;
  }
}
.figma-templates ul .block .figma-image img {
  width: 90%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.figma-templates ul .block a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25em;
}
.figma-templates ul .block a li h2 {
  font-weight: 600;
  font-size: 20px;
}
@media (min-width: 900px) {
  .figma-templates ul .block a li h2 {
    font-size: 28px;
  }
}

.figma-templates-page {
  padding: 40px;
}

.figma-post .img-responsive {
  max-width: 100%;
}

.figma-layout header span {
  font-weight: 600;
}

@media (min-width: 768px) {
  .local {
    display: flex;
  }
}
.local h1 {
  font-size: 3em;
}
.local h2 {
  font-size: 2em;
}
.local h3 {
  font-size: 1.5em;
}
@media (min-width: 768px) {
  .local .first {
    padding-right: 7.5%;
    width: 70%;
  }
}
@media (min-width: 768px) {
  .local .second {
    margin-top: 100px;
    width: 30%;
  }
}
.local .second a {
  display: block;
  font-weight: 600;
  font-size: 1.125em;
}

.local-page .local-header {
  padding: 100px 50px;
  background: #F9F9F9;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .local-page .local-header {
    display: flex;
  }
}
@media (min-width: 768px) {
  .local-page .local-header h1 {
    width: 40%;
  }
}
@media (min-width: 768px) {
  .local-page .local-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.local-page .local-links a {
  height: 175px;
  font-size: 1.5em;
  display: block;
  background: #F9F9F9;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .local-page .local-links a {
    width: 32%;
  }
}
.local-page .local-links a:hover {
  background: #000;
  color: #fff;
}

.home-page {
  padding: 0 25px;
}
.home-page h3 {
  font-size: 1.25em !important;
}

.home-hero .hero-information {
  padding: 100px 0;
}
.home-hero .hero-information h1 {
  font-size: 3em;
  line-height: 150%;
}
@media (min-width: 768px) {
  .home-hero .hero-information h1 {
    font-size: 4em !important;
    margin-bottom: 40px;
  }
}
.home-hero .hero-information a button {
  width: 210px;
  height: 60px;
  background: #000;
  color: #fff;
  font-size: 1.25em;
  cursor: pointer;
}
.home-hero .hero-information a button span img {
  max-width: 21px;
  display: hidden;
}
.home-hero .hero-information a button span img:hover {
  display: block;
}

.blog-area .blog .blog-title {
  margin-bottom: 50px;
}
.blog-area .blog .blog-title h2 {
  font-size: 2.4em;
  font-weight: 700;
}
.blog-area .blog .blog-section {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 800px) {
  .blog-area .blog .blog-section .blog-post-container {
    width: 50%;
  }
}
.blog-area .blog .blog-section .blog-post-container .blog-post {
  max-width: 85%;
}
.blog-area .blog .blog-section .blog-post-container .blog-post img {
  max-width: 100%;
}
.blog-area .blog .blog-section .blog-post-container .blog-post a {
  text-decoration: none;
}
.blog-area .blog .blog-section .blog-post-container .blog-post a h3 {
  font-size: 1.5em !important;
  line-height: 150%;
}
.blog-area .blog .blog-section .blog-post-container .blog-post p {
  font-size: 1.125em;
  max-width: 380px;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.animated {
  animation-duration: s;
  animation-delay: 0.75s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.home-footer {
  background: #000;
  color: #fff;
  margin-top: 100px;
}
@media (min-width: 768px) {
  .home-footer {
    padding: 80px 0 80px;
  }
}
.home-footer h3, .home-footer h4 {
  margin-bottom: 30px;
}
.home-footer h3 {
  font-size: 1em;
  font-weight: 700;
}
@media (min-width: 768px) {
  .home-footer .footer {
    display: flex;
    justify-content: space-between;
  }
}
.home-footer .footer p {
  max-width: 338px;
  margin: 0 auto;
}
.home-footer .footer a {
  color: #fff;
  text-decoration: none;
}
.home-footer .footer .footer-about {
  text-align: center;
  padding: 50px 0;
}
@media (min-width: 768px) {
  .home-footer .footer .footer-about {
    text-align: left;
  }
}
.home-footer .footer .footer-about p {
  font-size: 14px;
}
.home-footer .footer .footer-menu {
  text-align: center;
  padding: 50px 0;
}
.home-footer .footer .footer-menu a {
  margin-right: 15px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .home-footer .footer .footer-menu {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .local .second {
    margin-top: 100px;
    width: 30%;
  }
}
.local .second a {
  font-size: 1em;
  text-decoration: none;
  margin: 10px 0;
  display: inline-block;
}

.contact h3 {
  font-size: 1.25em;
}

.nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
.nav .nav-logo a {
  text-decoration: none;
}
.nav .nav-logo a span {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
}
.nav ul {
  display: flex;
  align-items: center;
}
.nav ul a {
  margin-left: 2.5em;
  display: flex;
  font-size: 0.875em;
  text-decoration: none;
}

.blog-header {
  margin-bottom: 100px !important;
}

@media (min-width: 768px) {
  .blog-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.blog-page .blog-page-post {
  width: 100%;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .blog-page .blog-page-post {
    width: 45%;
    margin-bottom: 65px;
  }
}
.blog-page .blog-page-post a {
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 20px;
}
.blog-page .blog-page-post p {
  margin-top: 10px;
}

.websites h1 {
  margin-bottom: 50px;
}
.websites .websites-posts a {
  text-decoration: none;
}

.home-button {
  position: absolute;
}

.button {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
  padding: 15px 30px;
}

.post-meta {
  font-size: 16px;
}

.border {
  border: 1px solid black;
}

.border-white {
  border: 1px solid #fff;
}

.mb-40 {
  margin-bottom: 100px;
}

.top-container {
  margin: 6.25em auto 0;
  max-width: 81.25em;
  padding: 0 25px;
}
@media (min-width: 1400px) {
  .top-container {
    padding: 0;
  }
}

.container {
  max-width: 81.25em;
  margin: 0 auto;
  padding: 0 25px;
}
@media (min-width: 1400px) {
  .container {
    padding: 0;
  }
}

.mb-40 {
  margin-bottom: 100px;
}

.padding {
  padding: 5px;
}/*# sourceMappingURL=app.css.map */