@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import 'default';
@import 'posts';
@import 'figma';
@import 'local';
@import 'pages/home';
@import 'animation';
@import 'components/footer';
@import 'city';
@import 'contact';
@import 'components/nav';
@import 'components/typography';
@import 'pages/blog';
@import 'pages/websites';
@import 'pages/donate';
@import 'how';

.home-button {
    position: absolute;
}

.button {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
    padding: 15px 30px;
}

.post-meta {
    font-size: 12px;
}

.border {
    border: 1px solid black;
}

.mb-40 {
    margin-bottom: 100px;
}

.top-container {
    margin: 6.25em auto 0;
    padding: 0 10% !important;
    
    @media (min-width: 1400px) {
        padding: 0 ;
    }
}

.mb-40 {
    margin-bottom: 100px;
}

.padding {
    padding: 5px;
}