.blog-header {
    margin-bottom: 100px !important;
}

.blog-page {

    padding: 0 25px;
    
    @media (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }    

    .blog-page-post {
        width: 100%;
        margin-bottom: 35px;
        
        @media (min-width: 768px){
            width: 45%;
            margin-bottom: 65px;

        }    

        a {
            font-weight: 600;
            text-decoration: none;
            margin-bottom: 20px;
        }

        p {
            margin-top: 10px;;
        }
    }
}