// HOME PAGE
.home-page {
    padding: 0 25px;
}

.home-hero {

    .hero-information {
        padding: 100px 0;

        h1 {
            font-size: 2.75em;
            line-height: 150%;

            @media (min-width: 768px) {
                font-size: 3.5em !important;
                margin-bottom: 40px;
            }
        }


    }
}


.blog-area {

    .blog {

        // TITLE
        .blog-title {
            margin-bottom: 50px;

            h2 {
                font-size: 2em;
            }
        }
        
        // BLOG SECTION
        .blog-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .home-blog-post {
                width: 45%;

                @media (min-width: 800px) {
                    width: 20%;
                }

                a {
                    text-decoration: none !important;                     

                    h3 {
                        font-size: 1.125em !important;                  
                        line-height: 150%;       
                    }
                }
            }
        }
    }
}