// HOME PAGE
.home-page {
    padding: 0 10%;

    @media (min-width: 1208px) {
        padding: 0 20%;
    }
}

.home-hero {

    .hero-information {
        padding: 100px 0;

        h1 {
            font-size: 2.5em;
            line-height: 150%;

            @media (min-width: 768px) {
                font-size: 3.25em !important;
                margin-bottom: 40px;
            }
        }


    }
}


.blog-area {

    .blog {

        // TITLE
        .blog-title {
            

            h2 {
                font-size: 1.75em;
            }

            p {
                font-size: .875em;
            }
        }
        
        // BLOG SECTION
        .blog-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 50px;

            .home-blog-post {
                width: 45%;
                margin-bottom: 50px;
                background: #f1f1f1;

                @media (min-width: 800px) {
                    width: 30%;
                }

                a {
                    text-decoration: none !important;   
                  

                    h3 {
                        font-size: .875em !important;                  
                        line-height: 150%;   
                        width: 75%;  
                        
                        @media (min-width: 800px) {
                            font-size: 1em !important;                  
                        }
                    }
                }
            }
        }
    }
}