.websites {


    
    h1 {
        margin-bottom: 50px;
        width: 100%;
    }

    .websites-post {

        @media (min-width: 768px) {
            width: 50%;
        }

        a {
            text-decoration: none;
           
        }
    }
}