---
layout: default
title: Ruben Gutierrez Blog, Web Design, Current Projects
permalink: /blog/
---

{% include nav.html%}

<div class="container blog-page">

    <h1>Blog</h1>

    <p>These are some of my thoughts and what I'm up Too</p>

    <div class="blog-page-posts mb-40">
        {% for post in site.posts %} 
            {% if post.categories contains "blog" %}
                <a href="{{post.url}}">{{ post.title }} </a>
                <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
            {% endif %} 
        {% endfor %}
    </div>

    <h2>Local Marketing Efforts</h2>

    <p>Here are some of my Local SEO, even through they have a marketing style of content I do provide a lot of useful information about SEO, digital marketing etc... </p>

</div>

{% include footer.html%}
