---
layout: default
title: Figma Templates - Free Figma Design Resources
permalink: /figma-templates/
---

<h1 class="figma-template-title">Figma Template</h1>

<div class="figma-templates">
    <ul>
        {% for post in site.posts %} 
            {% if post.categories contains "figma" %}
                <div class="block">
                    <a href="{{post.url}}">
                        <img src="{{post.img}}" alt="">
                    </a>
                    <a href="{{post.url}}"><li>{{ post.title }}</li> </a>
                </div>
            {% endif %}
        {% endfor %}
    </ul>
</div>