---
layout: default
title: Figma Templates - Free Figma Design Resources
permalink: /figma-templates/
---

<div class="top-container figma-templates-page">
    <h1 class="figma-template-title">Figma Templates</h1>
    <p>These are website designs I've made in Figma. Feel Free to 
        duplicate them.  Hopefully they help you in your 
        website design journey!
    </p>
    
</div>

<div class="container figma-templates">
    <ul>
        {% for post in site.posts %} 
            {% if post.categories contains "figma" %}
                <div class="block ">
                    <a href="{{post.url}}">
                        <div class="figma-image">
                            <img src="{{post.img}}" alt="">
                        </div>
                    </a>
                    <a href="{{post.url}}"><li><h2>{{ post.h-title }}</h2></li> </a>
                </div>
            {% endif %}
        {% endfor %}
    </ul>
</div>
