---
layout: default
title: Figma Templates - Free Figma Design Resources
permalink: /figma-templates/
---

<h1 class="figma-template-title">Figma Template</h1>
<p>This is a collection of Free Figma Templates I made. Go 
    ahead and download these to help you get inspired or 
    to learn more.
</p>


<div class="figma-templates">
    <ul>
        {% for post in site.posts %} 
            {% if post.categories contains "figma" %}
                <div class="block">
                    <a href="{{post.url}}">
                        <div class="figma-image">
                            <img src="{{post.img}}" alt="">
                        </div>
                    </a>
                    <a href="{{post.url}}"><li>{{ post.title }}</li> </a>
                </div>
            {% endif %}
        {% endfor %}
    </ul>
</div>