---
layout: default
---

<div class="top-container local">

  <!-- Header -->
  <div class="first">
    <header>
      <h1>{{ page.title | escape }}</h1>
    </header>

    <!-- Content -->
    {{ content }}

  </div>

  <div class="second">
    <h3>Other {{ page.city }}, California Services</h3>
      {% for post in site.tags.LosAngeles %}
      <div class="blog-post-container padding">
          <a href="{{post.url}}"><h3>{{ post.title }} &#8594; </h3></a>
      </div>
      {% endfor %}
  </div>
  
</div>