---
layout: default
---
<article class="max-width post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
    </p>
  </header>

  <div class="post-container" itemprop="articleBody">

    <div class="post-content">
      {{content}}
    </div>

    <div class="related-post">
      <h3>Related Posts</h3>
      {% for post in site.posts %} 
        {% if post.categories contains "blog" %}
          <a href="{{post.url}}">{{ post.title }} &#8594;</a> <br>
        {% endif %}
      {% endfor %}
    </div>

  </div>

</article>

